.App {
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  text-align: center;
}

form {
  margin-left: 3%;
  margin-right: 3%;
}

#name-wrapper {
  margin-top: 5%;
  margin-bottom: 5%;
}

.description {
  font-size: medium;
  text-align: left;
  margin-top: 2%;
  margin-bottom: 2%;
}

.questions {
  margin-bottom: 5%;
}

.submitBtn {
  float: right;
}